main {
  position: relative;
}

body {
  background-image: url('images/bg-big.png');
}



footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgb(82, 82, 197);
  bottom: 0;
  width: 100%;
}


button {
  margin-left: auto;
  margin-right: auto;
  color: rgb(82, 82, 197);
}

.circle {
  text-align: center;
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main {
  height: 100vh;
}